[CA_default]
copy_extensions = copy

[v3_req]
#keyUsage = keyEncipherment, dataEncipherment
#extendedKeyUsage = kafka-server
subjectAltName = @alt_names

[alt_names]
DNS.1 = kafka-server
IP.1 = 192.168.138.130
